.bienvenidoMain {
  text-align: center;
}

.inicioLogo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bienvenidoHeader {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bienvenidoLink {
  color: #FFC107;
  text-decoration: none;
}

.bienvenidoAire {
  margin-right: 10px;
}
